* {
  margin: 0;
  padding: 0;

}

@media all and (max-width: 450px) {

  h1{font-size: 250% !important;}
  h2 {font-size: 200% !important;}
  h3 {font-size: 5px !important;}
  h4 {font-size: 100% !important;}
  h5 {font-size: 50% !important;}

}

@media all and (max-width: 480px) {

  #topbar{height: 10% !important;}
}

@media all and (max-width: 701px){

p{font-size: 50% !important}
h6{font-size: 50% !important}
h5{font-size: 100% !important}
h4{font-size: 150% !important}
h3{font-size: 200% !important;}
h2{font-size:250% !important;}
h1{font-size:300% !important;}
}
/*type rules*/





body {
  background-image: url(img/bkgd.png);
  overflow-x:hidden;
  width: 100%;
  height: 100%;
  
}
html{
  min-height: 100%;
  min-width: 100%;
}

a {
  text-decoration: none;
}

.item { width: 25%; }
.item.w2 { width: 50%; }




h3 , h4 , h5 , h6  , p {

  font-family: 'Minion Pro' ;
}

h1, h2 {font-family:  Helvetica , arial}

#main {
  position: absolute;

  
  left: 20%;
  width: 80%;
  height: 100%;
}

h1 {
  
  font-weight: normal;
  font-size: 500%;
  
  

}


h2 {font-size: 400%;}
h3 {font-size: 300%;}
h4 {font-size: 200%;}
h5 {font-size: 100%;}
h6 {font-size: }

p {
	
	font-size: 150%;
	
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

 
  #main {
    width: 100% !important;
    height:100% !important;
    left: 0% !important;
    
  }
  

#topbar{

  
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10%;
  max-height: 200px;
  background: #262829;
  border-bottom: 1px solid #ccc;


}

#topbar  .links{height: 100%;}
#topbar li {display: inline; float: left; padding-right: 2%;}
#topbar ul {}
#topbar #nav {width: 100%; height: 100%;}
#topbar a {width: 100%; height: 100%; color: rgb(144, 144, 144);}
#topbar a:hover {color: #fff;}

#topbar h3 {text-align: center; font-family: calibri ,helvetica , arial;}




#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}


#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

.container{

    
    width: 100%;
    height: 110%;
    text-align: center;
    

}



.line{

  border-bottom: dashed 1px;
  width: 40%;
  /*padding-top: 2%;
  padding-bottom: 2%;*/
  margin: auto;

}



.links{
    
    width:40%;
    height:40%;
        
}

#portfolio img {width: 25%;}


